*.exe
*.dll
*.so
*.a
*.lib
*.o
*.obj

[Bb]uild/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
.ninja_deps
.ninja_log
build.ninja

.kateconfig
*~
*.swp

.vscode/
.idea/
Thumbs.db
desktop.ini

TODO
